:root {
--white-color: #fff;
--gold-color: #AD8A54;
--gray-color: #D9D9D9;
--darkGray-color: #626262;
--dark-color: #090A0E;
--black-color: #000;
--activ-color: #A47312;
--hover-color: #F0BF5F;
}

@mixin breakpoint($point) {
  @if $point == xxl {
    @media (max-width: 1400px){@content;}
  }
  @else if $point == xl {
    @media (max-width: 1200px){@content;}
  }
  @else if $point == lg {
    @media (max-width: 992px){@content;}
  }
  @else if $point == md {
    @media (max-width: 768px){@content;}
  }
  @else if $point == sm {
    @media (max-width: 576px){@content;}
  }
  @else if $point == xs {
    @media (max-width: 320px){@content;}
  }

}


