@import '../common/variables.scss';

.boxEvent {
  padding-bottom: 19px;
  width: 100%;
  border-bottom: 2px solid var(--darkGray-color);
  @include breakpoint (md){
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: var(--gold-color);
    @include breakpoint (md){
      font-size: 28px;
    }
  }

  &__wrap {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 260px;
    @include breakpoint (md){
      margin-bottom: 40px;
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint (md){
      width: 100%;
    }
  }

  &__right {
    width: 49%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint (md){
      display: none;
    }
  }

  &__box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 235px;
    @include breakpoint (md){
      padding: 0 18px;
      width: 100%;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    color: var(--white-color);
    @include breakpoint (md){
      font-size: 24px;
      border-bottom: 1px solid var(--white-color);
    }
  }

  &__svg {
    width: 60px;
    height: 60px;
  }
}

.b-bg1 {
  background-image: url(../img/bg-events1.jpg);
}

.b-bg2 {
  background-image: url(../img/bg-events2.jpg);
}

.b-bg3 {
  background-image: url(../img/bg-events3.jpg);
}

.b-bg4 {
  background-image: url(../img/bg-events4.jpg);
}

.b-bg5 {
  background-image: url(../img/bg-events5.jpg);
}

.b-bg6 {
  background-image: url(../img/bg-events6.jpg);
}

.b-bg7 {
  background-image: url(../img/bg-events7.jpg);
}

.b-bg8 {
  background-image: url(../img/bg-events8.jpg);
}

.b-bg9 {
  background-image: url(../img/bg-events9.jpg);
}

.b-bg10 {
  background-image: url(../img/bg-events10.jpg);
}
