@import '../common/variables.scss';

.btn {
  padding: 19px 44px;
  border: none;
  border-radius: 8px;
  color: var(--white-color);
  background-color: var(--gold-color);
  font-size: 18px;
  font-weight: 400;
  transition: background-color 0.3s ease-in-out;
  @include breakpoint (md){
    padding: 27px 80px;
    font-size: 28px;
  }

  &:hover {
    background-color: var(--hover-color);
  }

  &:active {
    background-color: var(--activ-color);
  }

  &:focus {
    background-color: var(--hover-color);
    outline: none;
  }

  &__text {
    margin-right: 11px;
    @include breakpoint (lg){
      display: none;
    }
  }

  &__svg {
    width: 16px;
    height: 16px;
    fill: var(--white-color);
    @include breakpoint (lg){
      width: 30px;
      height: 30px;
    }
  }
}
