@import '../common/variables.scss';

.events {
  &__wrap {
    padding: 75px 220px 35px 220px;
    @include breakpoint (lg){
      padding: 75px 80px 35px 80px;
    }
    @include breakpoint (md){
      padding: 55px 0 35px 0;
    }
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    color: var(--white-color);
    @include breakpoint (md){
      margin-bottom: 25px;
    }
  }

  &__item {
    margin-bottom: 48px;
    @include breakpoint (md){
      margin-bottom: 40px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}


